[submodule "AICOS"]
	path = AICOS
	url = https://github.com/AttractAcquisition/AICOS
[submodule "Outreach-System"]
	path = Outreach-System
	url = https://github.com/AttractAcquisition/Outreach-System
[submodule "COS"]
	path = COS
	url = https://github.com/AttractAcquisition/COS
[submodule "Proof-Capture"]
	path = Proof-Capture
	url = https://github.com/AttractAcquisition/Proof-Capture
[submodule "Website"]
	path = Website
	url = https://github.com/AttractAcquisition/Website
